<div class="main-wrapper">
  <%= render "light_section" %>
  <section class="mainContent clearfix cartListWrapper">
    <div class="container">
      <div class="row">
        <% if @orders.empty? %>
          <p>購入履歴はございません。</p>
        <% else %>
          <% @orders.each do |order| %>
            <%= render 'order_history', order: order %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>
