<div class="modal fade" id="login" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">log in</h3>
      </div>
      <div class="modal-body">
        <%= form_for Spree::User.new, as: :spree_user, url: potepan_create_new_session_path do |f| %>
          <div class="form-group">
            <%= f.label :email, "Enter Email" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Password" %>
            <%= f.password_field :password, class: "form-control", tabindex: 2 %>
          </div>
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me, tabindex: 3 %> Remember Me
            </label>
          </div>
          <%= f.submit "log in", class: "btn btn-primary btn-block" %>
          <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
