<section class="lightSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <% brand_taxons.each do |brand_taxon| %>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= link_to potepan_category_path(brand_taxon.id) do %>
                  <%= image_tag("home/partners/#{brand_taxon.name}.png", alt: "brand-image") %>
                  <div class="brand-name">
                    <%= brand_taxon.name %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
