<div class="col-xs-6">
  <%= form_tag(request.path, method: :get, enforce_utf8: false) do %>
    <%= hidden_field_tag :color, params[:color] if params[:color] %>
    <%= hidden_field_tag :size, params[:size] if params[:size] %>
    <%= select_tag "sort", options_for_select([
      ["新着順", "NEW_PRODUCTS"],
      ["安い順", "LOW_PRICE"],
      ["高い順", "HIGH_PRICE"],
      ["古い順", "OLD_PRODUCTS"]],
      selected: params[:sort] || "NEW_PRODUCTS"),
      { class: "select-drop", onchange: "this.form.submit()"} %>
  <% end %>
</div>
