<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% option_types.colors.each do |color| %>
        <li>
          <%= link_to potepan_category_path(params[:id], color: color.name) do %>
            <%= color.presentation %><span><%= "(#{count_number_of_products(color.name)})" %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
