<div class="col-xs-12">
  <div class="page-header">
    <h4>お支払い方法</h4>
  </div>
  <%#= order.available_payment_methods[0].cc_type %>
  <% order.available_payment_methods.each do |payment_method| %>
    <p>
      <label>
        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", payment_method.id, payment_method == order.available_payment_methods.first %>
        <%= payment_method.name %>
      </label>
    </p>
  <% end %>
</div>
<% order.available_payment_methods.each do |payment_method| %>
  <%= render "potepan/checkout/payment/#{payment_method.partial_name}", payment_method: payment_method, order: order %>
<% end %>
<%= render "submit_button", order_form: order_form, order: order %>
