<div class="row progress-wizard" style="border-bottom:0;">
  <div class="col-xs-4 progress-wizard-step complete <%= "fullBar" unless order.address? %>">
    <div class="text-center progress-wizard-stepnum">お届け先情報</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <i class="progress-wizard-dot"></i>
  </div>

  <div class="col-xs-4 progress-wizard-step <%= order.payment_wizard_steps %>">
    <div class="text-center progress-wizard-stepnum">お支払い方法</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <i class="progress-wizard-dot"></i>
  </div>

  <div class="col-xs-4 progress-wizard-step <%= order.confirm? ? "complete" : "disabled" %>">
    <div class="text-center progress-wizard-stepnum">入力内容確認</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <i class="progress-wizard-dot"></i>
  </div>
</div>
